<section>
  <h2>Editer un étudiant</h2>
  <select>
    <option *ngFor="let e of etuService.listeEtudiants; let i = index" value="i">{{ e.nom }}</option>
  </select>
  <form (submit)="valideEtudiant()">
    <input name="nom" [(ngModel)]="etudiant.nom" required>
    <input name="prenom" [(ngModel)]="etudiant.prenom" required> 
    <input name="age" [(ngModel)]="etudiant.age" required> 
    <input name="email" type="email" [(ngModel)]="etudiant.email"> 

    <input type="reset" value="Annuler">
    <input type="submit" value="Envoyer">
  </form>
</section>