/* You can add global styles to this file, and also import other style files */
.ng-valid{
    border:1px solid green;
}
.ng-invalid{
    border:1px solid red;
}

form{
    display:flex;
    flex-flow:column wrap;
}
input, select, option, textarea{
    padding:5px 8px;
    max-width:200px;
    margin:auto;
}